.gamesProgress__li {
    list-style: none;
    text-align: center;
}

.gamesProgress__roundsDiv {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.gamesProgress__round {
    text-align: center;
}