.game-page {
    background: linear-gradient(0deg, #fff 50%, #3EC6FF 50%);
    height: 100vh;
}

.game__div {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 20px 25px;
    background-image: url(../../assets/images/gamePattern.png);
    background-repeat: repeat;
    background-size: 300px 300px;
    overflow: hidden;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 35px;
        font-weight: 800;
        color: #fff;
    }

}

.game__handsPickDiv {
    flex: 1;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.game__player2Choice {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 800;
        color: #fff;
    }
}

.game__player1Choice {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-weight: 800;
    }

    svg {
        width: 150px;
    }
}

.game__player1ChoicePick {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px
    // justify-content: center;
    // gap: 150px;
}

.game__player2ChoicePickand {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    // grid-gap: 100px;
    // gap: 150px;
    // justify-content: center;
    // padding-bottom: 90px;

    svg {
        width: 170px;
        height: 230px;
        fill: #fff !important;
    }
}

.game__paperImage {
    transform: rotate(35deg);

    svg {
        height: 230px;
        width: 110px;
    }
}

.game__scissorsImage {
    transform: rotate(-35deg);

    svg {
        width: 110px;
        height: 230px;
    }
}

.game__rockImage {

    svg {
        width: 110px;
        height: 230px;
    }
}

.game__winnerRound {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.game__gray {
    background-color: #ccc;
}

.game__green {
    background-color: #37BB5C;
}

.game__red {
    background-color: #FF4A4A;
}

.game__nameDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    h4 {  
        margin: 0;
    }
}

.game__player1ChoiceHand {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    gap: 50px;
}

.game__hand {

    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
        fill: #3EC6FF;
    }
}

.game__rounds {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    svg {
        width: 70px;
        height: 70px;
        fill: #fff;
    }
}

.game__round {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 20px;
    height: 150px;

    svg {
        fill: #fff;
    }
}

.game__roundLost {
    background-color: #FF4A4A;
}

.game__roundWon {
    background-color: #37BB5C;
}

.game__black {
    background-color: #000;
}

.game__nameVsDiv {
    display: flex;
    justify-content: space-evenly;
}

.game__nextRound {

    display: flex;
    justify-content: space-around;

    button {
        float: right;
    }
}

.game__roundWinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.game__parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.game__div1 { 
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.game__div2 { 
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.game__chatIcon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3EC6FF;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    border: 5px solid #fff;

    svg {
        fill: #fff;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
}

@media (max-width: 576px) {
    .game__player2ChoicePickand {

        svg{
            width: 90px;
            height: 180px;
        }

    }

    .game__roundWinner {
        left: 50%;
        transform: translate(-50%);
        width: 90%;
    }

    .game__player1Choice {
        svg {
            width: 90px;
            height: 180px;
        }
    }

    .game__player1ChoiceHand {
        gap: 35px;
    }

    .game__round {
        width: 150px
    }

    .game__div {
        .game__handsPickDiv {
            gap: 10px;
        }
    }
}

@media (max-width: 375px) {
    .game__player1Choice {
        svg {
            width: 70px;
            height: 180px;
        }
    }
}
    