* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

.btn {
    border-radius: 15px
}

.btn-primary {
    background-color: #3EC6FF;
    border-color: #3EC6FF;
    text-decoration: none;
}

.base__div {
    width: 100%;
    height: 95vh;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.base__secondaryHeader {
    display: flex;
    justify-content: flex-end;
}

.base__titleDiv {
    display: flex;
    justify-content: center;

    h2 {
        font-size: 3.5rem;
        font-weight: 600;
        margin: 0;
    }
}

.dropdown-toggle::after {
    display: none;
}

.badgeDot::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff3e3e;
    margin-left: 8px;
}

.dropdown-menu {
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    transform: translate(-50%, 40px) !important;
    left: 50% !important;
}

.dropdown-item {

    p {
        margin: 0;
    }
    
}

.badge {
    font-size: 1em;
    font-weight: 500;
}

.base__navHome {
    width: 20px;
    height: 20px;
}

.base__navLink {
    font-size: 1rem;
    font-weight: 600;
    color: #363636;
    text-decoration: none;

    &:hover {
        color: #3EC6FF;
    }
}

.base__navBar {
    display: flex;
    gap: 20px;

    a {
        display: flex;
        align-items: center;
        position: relative;
    }

    .active::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: #3EC6FF;
        bottom: -5px;
    }
}